In [4]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [5]:
x= np.array([1])

## Q#2: Create y array with elements equal to 0.

In [6]:
y= np.array([0])

## Q#3: Add x and y arrays.

In [79]:
r=np.add(x, y)
r

array([1])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [80]:
print('type = ', x.dtype)
print('number of dimensions = ', x.ndim)
print('shape = ', x.shape)
print('size = ', x.size)

type =  int32
number of dimensions =  1
shape =  (1,)
size =  1

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [81]:
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [82]:
z=np.array([[1],[2],[3]])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [91]:
newArray= np.hstack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [92]:
for i in newArray:
    print(i)

[ 1 11 12]
[ 2 13 14]
[ 3 15 16]

## Q#9: Reverse the columns and rows of "newArray".

In [93]:
trans=np.transpose(newArray)
trans

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [95]:
dec=newArray-1
dec

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [96]:
newArray.min()

1

## Q#12: Print the first row of "newArray" using indexing.

In [97]:
newArray[0]

array([ 1, 11, 12])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [98]:
newArray[0,2]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [126]:
print(dec[0,0])
print(dec[1,2])

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [127]:
f=newArray.reshape(9,1)
f

array([[ 1],
       [11],
       [12],
       [ 2],
       [13],
       [14],
       [ 3],
       [15],
       [16]])

## Q#16: Change the shape of "newArray" to (3,2).

In [128]:
q=newArray.reshape(3,2)
q

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰